body {
  background-color: gray;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.cube_piece {
  height: 3rem;
  width: 3rem;
  display: flex;
  justify-content: center;
}

.MuiGrid-container.cubeRow {
  width: 100%;
  margin-top: 1rem;
}

.cube_piece.WHITE {
  color: black !important;
  background-color: white;
}
.cube_piece.BLUE {
  color: black !important;
  background-color: blue;
}
.cube_piece.RED {
  color: black !important;
  background-color: red;
}
.cube_piece.GREEN {
  color: black !important;
  background-color: green;
}
.cube_piece.ORANGE {
  color: black !important;
  background-color: rgb(238, 124, 82);
}
.cube_piece.YELLOW {
  color: black !important;
  background-color: yellow;
}
.cube_piece.BLACK {
  color: white !important;
  background-color: BLACK;
}

.nextMoveBox {
  position: relative;
  margin: 0 auto;
  width: 20%;
  height: 20%;
}

.scene_3d {
  margin: 0 auto;
}

.MuiGrid-container.scene_3d {
  width: 15rem;
  height:32rem;
  perspective: 20000rem;
}

.scene_3d .cube_face {
  height: 40%;
  width: 100%;
  position: absolute;
  display: block;
}

.scene_3d .cube_face--FRONT {
  transform: translate3d(10rem,12rem,0) skew(0deg, -25deg);
}
.scene_3d .cube_face--RIGHT {
  /* transform: rotate3d(-.2,1,0, 65deg) translate3d(0, 15rem, 10rem); */
  transform: rotateY(90deg) translateZ(10rem);
  /* transform: rotateY( 90deg) translateZ(100px) */
}

.scene_3d .cube_face--LEFT {
  transform: translate3d(-4.5em,13rem,0) skew(0deg, 25deg);
}
.scene_3d .cube_face--TOP {
  transform: rotate3d(1,0,-1,45deg) skew(30deg, 10deg) translate3d(-5.1rem,8.2rem,4rem) ;
}
.scene_3d .cube_face--BOTTOM {
  transform: rotate3d(0, 0, 0, 0) translate3d(10vw, 60vh, 5rem);
}

.scene_3d .cube_face--BACK {
  visibility: hidden;
  transform: rotate3d(0, 1, 0, 180deg) rotateY(180deg) translate3d(10vw, 0vh, 10vw);
}

.u_center {
  margin: 0 auto;
  width: 50%;
  padding: 10px;
  text-align: center;
}

.tab {
  padding-top: 5vh;
}
